*{
    margin: 0px;
    padding: 0px;
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #e1e2e1;
}

.header{
    width: 100%;
    min-width: auto;
    height: 170px;
    margin: 0px auto;
}

/*modifica el contener del logo*/
.logo{
    width: auto;
    margin: 0px auto;
    padding-top: 15px;
}

/*modifica el tamaño del logo*/
.logo img{
    display: block;
    margin: 0px auto; /*centrar*/
    width: 150px;
}

#menu{
    width: 100%;
    height: 60px;
    background-color: #29384e;
    color: white;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0px 0px 2px #000;
}

#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    width: 500px;
}

#menu>ul>li{
    line-height: 60px;
    float: left;
}

#menu>ul>li a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
}

#menu>ul>li:hover{
    background-color: #14a3f9;
}


/*menu desplegable*/
#menu>ul>li>ul{
    display: none;
    position: absolute;
    text-align: left;
    width: 180px;
    box-shadow: 0px 2px 2px gray;
    z-index: 1;
}

#menu>ul>li:hover>ul{
    display: block;
}

#menu>ul>li:hover>ul>li{
    background-color: #f2f1f0;
    padding: 9px;
    line-height: 25px;
    font-size: 14px;
    transition: all 300ms;
}

#menu>ul>li:hover>ul>li a{
    color:#666 ;
}

#menu>ul>li:hover>ul>li:hover{
    box-shadow: 0px 0px 2px #ccc inset;
    background: rgb(233, 229, 229);
}



/*footer*/
#footer{
  width: 100%;
  height: 50px;
  background-color: #29384e;
  color: white;
  margin-top:auto;
}

/*index footer*/
iframe{
    width: 100%;
    height: 50px;
    border-style: none;
}